APP_NAME=collabbing
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://collabbing.example.com
APP_HTTP_PORT=80

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=collabbing
DB_USERNAME=collabbing
DB_PASSWORD=change-me
MYSQL_DATABASE=collabbing
MYSQL_USER=collabbing
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true
QUEUE_CONNECTION=redis
QUEUE_RETRY_AFTER=180

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@collabbing.example.com
MAIL_FROM_NAME=Collabbing

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REPOSITORY_SYNC_MAX_PER_RUN=25
GITHUB_REPOSITORY_SYNC_NEXT_MIN_MINUTES=360
GITHUB_REPOSITORY_SYNC_NEXT_MAX_MINUTES=720
GITHUB_REPOSITORY_SYNC_RETRY_MIN_MINUTES=120
GITHUB_REPOSITORY_SYNC_RETRY_MAX_MINUTES=240
